<%= render "settings/aside" %>

<main>
  <h1>Anv채ndare</h1>
    <%= link_to 'Skapa ny anv채ndare', settings_users_new_path %>
  <table>
    <th>Anv채ndarnamn</th>
    <th></th>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "Radera anv채ndare", admin_destroy_user_path(user), method: :delete, data: {confirm: "Sure?" } %></td>
      </tr>
    <% end %>
  </table>
</main>